---
http_interactions:
- request:
    method: get
    uri: https://api.apilayer.com/fixer/latest?base=USD&symbols=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - HgjZBdTZqKQ4haORO1KBucxjZ5ztOEUR
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '100'
      Ratelimit-Remaining:
      - '97'
      Ratelimit-Reset:
      - '1658592'
      X-Cloud-Trace-Context:
      - 65842297fda429b4a843f6f5e765b197
      X-Ratelimit-Limit-Day:
      - '100'
      X-Ratelimit-Limit-Month:
      - '100'
      X-Ratelimit-Remaining-Day:
      - '97'
      X-Ratelimit-Remaining-Month:
      - '97'
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "success": true,
            "timestamp": 1657552157,
            "base": "USD",
            "date": "2022-07-11",
            "rates": {
                "USD": 1
            }
        }
  recorded_at: Mon, 11 Jul 2022 19:16:48 GMT
- request:
    method: get
    uri: https://api.apilayer.com/fixer/latest?base=USD&symbols=USD,BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - HgjZBdTZqKQ4haORO1KBucxjZ5ztOEUR
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '100'
      Ratelimit-Remaining:
      - '96'
      Ratelimit-Reset:
      - '1658592'
      X-Cloud-Trace-Context:
      - f63504cff0958a84712d1eda8fc83a4c
      X-Ratelimit-Limit-Day:
      - '100'
      X-Ratelimit-Limit-Month:
      - '100'
      X-Ratelimit-Remaining-Day:
      - '96'
      X-Ratelimit-Remaining-Month:
      - '96'
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "success": true,
            "timestamp": 1657552157,
            "base": "USD",
            "date": "2022-07-11",
            "rates": {
                "USD": 1,
                "BTC": 4.9090574e-05
            }
        }
  recorded_at: Mon, 11 Jul 2022 19:16:48 GMT
recorded_with: VCR 6.1.0
