---
openapi: 3.0.1
components:
  securitySchemes:
    api_key:
      type: apiKey
      description: Bearer token
      name: Authorization
      in: header
info:
  title: API V1
  version: v1
paths:
  "/api/v1/accounts":
    get:
      summary: index
      security:
      - api_key: []
      tags:
      - Accounts
      responses:
        '200':
          description: successful
    post:
      summary: create
      security:
      - api_key: []
      tags:
      - Accounts
      parameters: []
      responses:
        '201':
          description: successful
        '422':
          description: invalid request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                currency_id:
                  type: number
              required:
              - currency_id
  "/api/v1/accounts/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: number
    get:
      summary: show
      security:
      - api_key: []
      tags:
      - Accounts
      responses:
        '200':
          description: successful
        '404':
          description: Not found
    delete:
      summary: destroy
      security:
      - api_key: []
      tags:
      - Accounts
      responses:
        '200':
          description: successful
        '404':
          description: Not found
  "/api/v1/accounts/{id}/charge":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: number
    - name: params
      in: body
      schema:
        type: object
        properties:
          value:
            type: number
        required:
        - value
    patch:
      summary: charge
      security:
      - api_key: []
      tags:
      - Accounts
      responses:
        '200':
          description: successful
        '422':
          description: Invalid request
        '404':
          description: Not found
  "/api/v1/admin/currencies":
    get:
      summary: index
      security:
      - api_key: []
      tags:
      - Admin
      responses:
        '200':
          description: successful
        '401':
          description: forbidden
    post:
      summary: create
      security:
      - api_key: []
      tags:
      - Admin
      parameters: []
      responses:
        '201':
          description: successful
        '422':
          description: invalid request
        '401':
          description: forbidden
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                name:
                  type: string
              required:
              - code
              - name
  "/api/v1/admin/currencies/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: number
    get:
      summary: show
      security:
      - api_key: []
      tags:
      - Admin
      responses:
        '200':
          description: successful
        '404':
          description: Not found
        '401':
          description: forbidden
    delete:
      summary: destroy
      security:
      - api_key: []
      tags:
      - Admin
      responses:
        '200':
          description: successful
        '404':
          description: Not found
        '401':
          description: forbidden
  "/api/v1/users/sign_in":
    post:
      summary: create authentication
      tags:
      - Authentication
      parameters: []
      responses:
        '200':
          description: successful
          headers:
            access-token:
              schema:
                type: string
              description: Json Web Token
        '422':
          description: invalid request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
              - email
              - password
  "/api/v1/users/sign_out":
    delete:
      summary: delete authentication
      security:
      - api_key: []
      tags:
      - Authentication
      responses:
        '200':
          description: successful
  "/api/v1/users/passwords":
    patch:
      summary: update password
      security:
      - api_key: []
      tags:
      - Authentication
      parameters: []
      responses:
        '200':
          description: successful
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
              required:
              - password
  "/api/v1/users/sign_up":
    post:
      summary: create registration
      tags:
      - Authentication
      parameters: []
      responses:
        '200':
          description: successful
          headers:
            access-token:
              schema:
                type: string
              description: Json Web Token
        '422':
          description: email in use
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
              - email
              - password
  "/api/v1/currencies":
    get:
      summary: index
      security:
      - api_key: []
      tags:
      - Currencies
      responses:
        '200':
          description: successful
  "/api/v1/currencies/{id}":
    get:
      summary: show
      security:
      - api_key: []
      tags:
      - Currencies
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        '200':
          description: successful
        '404':
          description: Not found
  "/api/v1/orders":
    get:
      summary: index
      security:
      - api_key: []
      tags:
      - Orders
      responses:
        '200':
          description: successful
    post:
      summary: create
      security:
      - api_key: []
      tags:
      - Orders
      parameters: []
      responses:
        '201':
          description: successful
        '422':
          description: invalid request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                from_currency_id:
                  type: number
                to_currency_id:
                  type: number
                value:
                  type: number
                expires_at:
                  type: string
                  format: date-time
                complete_type:
                  type: string
                  enum:
                  - take_profit
                  - stop_loss
              required:
              - from_currency_id
              - to_currency_id
              - value
  "/api/v1/orders/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: number
    get:
      summary: show
      security:
      - api_key: []
      tags:
      - Orders
      responses:
        '200':
          description: successful
        '404':
          description: Not found
    delete:
      summary: destroy
      security:
      - api_key: []
      tags:
      - Orders
      responses:
        '200':
          description: successful
        '404':
          description: Not found
servers:
- url: https://3000.ymaril.dev
